<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.demoQA.pages.HomePageTest"/>
      <class name="com.demoQA.pages.ElementsCheckBoxTest"/>
      <class name="com.demoQA.pages.ElementsWebTableTest"/>
      <class name="com.demoQA.pages.ElementsPageTest"/>
      <class name="com.demoQA.pages.ExtentReportdemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
